@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto&display=swap');

body {
    margin: 0;
    background-image: url(./restaurant-interior.jpg);
    background-size: cover;
    background-position: center;
    z-index: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 139, 0.295);
}

#content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
}

.header {
    height: 100px;
    background: rgb(2, 2, 99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

h1 {
    color: whitesmoke;
    margin: 0;
    font-size: 36px;
}

.button-container {
    height: 30px;
    display: flex;
    gap: 24px;
}

.button-container button {
    width: 160px;
    font-size: 24px;
    background: transparent;
    border-style: none;
    color: whitesmoke;
}

.button-container button:hover {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-box, .contacts-box, .menu-box {
    width: 600px;
    height: auto;
    background: rgba(134, 134, 221);
    padding: 18px;
    font-size: 24px;
    color: whitesmoke;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.contacts-box {
    display: flex;
    align-items: center;
    gap: 24px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map {
    width: 240px;
    height: 240px;
    background-image: url(./map.png);
    background-size: contain;
}

.menu-box {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.item-box {
    height: 340px;
    width: 260px;
    background-color: rgb(95, 139, 160);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 16px;
}

.item-name, .item-price {
    color: black;
}

.item-picture {
    height: 260px;
    width: 260px;
}

.footer {
    background: rgb(2, 2, 99);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: whitesmoke;
    font-size: 16px;
}

.footer a {
    text-decoration: none;
    color: whitesmoke;
}